//======================== VARIABLES HERE ========================
//================================================================
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__cols: 12;

$map-grid-props: (
		'': 0,
		'-sm': $grid__bp-sm,
		'-md': $grid__bp-md,
		'-lg': $grid__bp-lg,
		'-xl': $grid__bp-xl
);

$full: 100%;
$half: 50%;
$quarter: 25%;

$zero: 0;
$one: 1;

$z-indexs : (
	'max-above':			99999,
	'above-all':			9999,
	'above':				99,
	'top':					1,
	'ground':				0
);

$font-weights : (
	"thin":					300,
	"medium":				600,
	"bold":					700,
	"fat":					900
);

$font-sizes : (
	"xxs":					.75em,
	"xs":					.80em,
	"s":					.90em,
	"m":					1em,
	"l":					1.3em,
	"xl":					1.8em,
	"xxl":					2.2em,
	"biggest":				3.5em
);

$letter-spacings : (
	"normal":				.9px,
	"medium":				1.1px,
	"large":				1.5px
);

$inner-gutter:							20px;
$inner-gutter--half:					$inner-gutter / 2;
$inner-gutter--double:					$inner-gutter * 2;
$inner-gutter--tripple:					$inner-gutter * 3;
$inner-gutter--quarter:					$inner-gutter / 4;

$font-family-global:					'Titillium Web', sans-serif;

// ============= COMPONENTS =============

// - Header
$c-header-container-height:				250px;
$c-header-logo-width:					300px;
$c-header-container-bg-color:			$color-global-primary;
$c-header-title-color:					$color-global-positive;
$c-header-title-font-size:				map-get($font-sizes, xxl);
$c-header-title-font-weight:			map-get($font-weights, bold);
$c-header-title-letter-spacing:			map-get($letter-spacings, large);

// ./ Header

// - User Card
$card-background-color:					$color-global-secondary;
$card-text-color:						$color-global-positive;
$card-text-color--highlight:			$color-global-middle;
$card-min-width:						$full;
$card-min-height:						$full;
$card-gutter:							$inner-gutter;
$card-gutter--half:						$card-gutter / 2;
$card-border-radius:					5px;
// ./ User Card