//======================== VARIABLES HERE ========================
//================================================================
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__cols: 12;

$map-grid-props: (
		'': 0,
		'-sm': $grid__bp-sm,
		'-md': $grid__bp-md,
		'-lg': $grid__bp-lg,
		'-xl': $grid__bp-xl
);

$full: 100%;
$half: 50%;
$quarter: 25%;

$zero: 0;
$one: 1;

$z-indexs : (
	'max-above':			99999,
	'above-all':			9999,
	'above':				99,
	'top':					1,
	'ground':				0
);

$font-weights : (
	"thin":					300,
	"medium":				600,
	"bold":					700,
	"fat":					900
);

$font-sizes : (
	"xxs":					.75em,
	"xs":					.80em,
	"s":					.90em,
	"m":					1em,
	"l":					1.3em,
	"xl":					1.8em,
	"xxl":					2.2em,
	"biggest":				3.5em
);

$letter-spacings : (
	"normal":				.9px,
	"medium":				1.1px,
	"large":				1.5px
);

$inner-gutter:							20px;
$inner-gutter--half:					$inner-gutter / 2;
$inner-gutter--double:					$inner-gutter * 2;
$inner-gutter--tripple:					$inner-gutter * 3;
$inner-gutter--quarter:					$inner-gutter / 4;

$font-family-global:					'Poppins', sans-serif;

// ============= COMPONENTS =============

// - Navigation
$c-navigation-z-index:					map-get($z-indexs, above-all);
$c-navigation-full-z-index:				map-get($z-indexs, max-above);
$c-navigation-max-width:				340px;
$c-navigation-gutter:					$inner-gutter;
$c-navigation-quarter-gutter:			$c-navigation-gutter / 4;
$c-navigation-background-color: 		$color-global-negative;
$c-navigation-full-background-color: 	rgba($color-global-negative, .7);
$c-navigation-text-color:				$color-global-positive;
$c-navigation-title-font-size:			map-get($font-sizes, l);
$c-navigation-title-font-weight:		map-get($font-weights, bold);
$c-navigation-title-letter-spacing:		map-get($letter-spacings, medium);
$c-navigation-divider-width:			75px;
$c-navigation-divider-height:			5px;
$c-navigation-divider-color:			$color-global-middle;
$c-navigation-text-color--alt:			$color-global-middle;
$c-navigation-bar-height:				$c-navigation-divider-height;
$c-navigation-bars-width:				35px;
// ./ Navigation