//======================== FONT FAMILIES =========================
//================================================================

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap');

//======================== IMPORTS =========================
//================================================================

@import "colors";

@import "variables";

@import "mixins";

@import "grid";

@import "objects";

@import "helpers";

html, body {
	font-family: $font-family-global;
	padding: $zero;
	margin: $zero;
	overflow-x: hidden;
	background-color: $color-global-negative;
	scroll-behavior: smooth;
}

//======================== OVERRIDES HERE ========================
//================================================================