@import "../components/admin-navigation";
@import "../components/admin-storage";
@import "../components/admin-blog";
@import "../components/admin-projects";

.admin {
    display: block;
    width: 100%;
}

.admin-wrapper {
    margin-top: 50px;
    color: white;
    position: relative;
    padding: $inner-gutter--double;
}