@import "../colors";
@import "../variables";

@import "../mixins";

.admin-storage {
	position: relative;

	&__card {
		padding: $inner-gutter;
		background-color: $color-global-positive;
		position: relative;
		margin: $inner-gutter--quarter;
	}

	&__card-image {
		width: auto;
		min-height: 230px;
		max-height: 230px;

		img {
			width: 200px;
			height: 100%;
		}
	}

	&__card-actions {
		text-align: center;
	}

	&-form {
		max-width: 500px;
		padding: $inner-gutter;
		margin-bottom: $inner-gutter;
		border: 1px solid $color-global-positive;
	}

}
