@import "../colors";
@import "../variables";

@import "../mixins";

.navigation {
	&-wrapper {
		@include center(horizontal, fixed);
		border-bottom-left-radius: $c-navigation-gutter;
		border-bottom-right-radius: $c-navigation-gutter;
		top: $zero;
		max-width: $c-navigation-max-width;
		width: $full;
		padding: $c-navigation-gutter;
		color: $c-navigation-text-color;
		background-color: $c-navigation-background-color;
		z-index: $c-navigation-z-index;
		box-sizing: border-box;
		box-shadow: 1px 1px 10px $c-navigation-boxshadow-color;

		@media (max-width: $mobile-portrait) {
			max-width: 350px;
		}
	}

	&-container {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-self: center;
	}

	&-title {
		font-size: $c-navigation-title-font-size;
		font-weight: $c-navigation-title-font-weight;
		text-transform: uppercase;
		flex: 1 1 auto;
	}

	&-divider {
		width: $c-navigation-divider-width;
		height: $c-navigation-divider-height;
		background-color: $c-navigation-divider-color;
		margin-top: $c-navigation-quarter-gutter;
	}

	&-bars {
		max-width: $c-navigation-bars-width;
		width: $c-navigation-bars-width;
		flex: 1 1 auto;
		cursor: pointer;

		&__item {
			margin-top: $c-navigation-quarter-gutter;
			height: $c-navigation-bar-height;
			width: $c-navigation-bars-width;
			background-color: $c-navigation-divider-color;
			transition: all .3s;

			.js-nav-active &:nth-child(1) {
				transform: rotate(-45deg) translate(-6px, 8px);
			}

			.js-nav-active &:nth-child(2) {
				opacity: $zero;
			}

			.js-nav-active &:nth-child(3) {
				transform: rotate(45deg) translate(-6px, -8px);
			}
		}
	}

	&-full__wrapper {
		position: fixed;
		top: $zero;
		left: $zero;
		background-color: $c-navigation-full-background-color;
		width: $full;
		height: $full;
		color: $c-navigation-text-color;
		z-index: $c-navigation-full-z-index;
		transition: all .3s;

		.navigation-bars {
			position: absolute;
			right: 20px;
			top: 20px;
			display: inline-block
		}
	}

	&-full__container {
		@include center(both, absolute);

		text-align: center;
		font-size: $c-navigation-title-font-size;
		font-weight: $c-navigation-title-font-weight;

		.navigation-full__item {
			margin-top: $c-navigation-gutter;
			padding: $c-navigation-quarter-gutter;
			cursor: pointer;

			&--active {
				color: $c-navigation-text-color--alt;
			}

			&:not(.navigation-full__item--active)::after {
				content: '';
				display: block;
				width: $zero;
				height: $c-navigation-bar-height;
				background: $c-navigation-text-color--alt;
				transition: width .3s;
			}

			&:hover::after {
				width: $full;
				transition: width .3s;
			}
		}
	}
}
