@import "../colors";
@import "../variables";

@import "../mixins";

.projects {
	&-wrapper {
		padding-top: $inner-gutter--tripple;;
		padding-bottom: $inner-gutter--tripple;

		.container__holder-card {
			box-sizing: border-box;
			padding: $inner-gutter--half;
			position: relative;
		}

		.container__holder-row {
			margin-top: $inner-gutter--half;
		}

	}

	&-card{
		padding-top: $inner-gutter;
		padding-bottom: $inner-gutter;
		box-sizing: content-box;
		width: 80%;
		min-height: 300px;
		max-height: 300px;
		background-color: $color-global-middle;
		color: $color-global-negative;
		text-align: center;
		transition: all .3s;
		cursor: pointer;
		position: relative;
		transform: translateX(10%);

		&:hover {
			transform: scale(1.01);
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;

			.image {
				left: 0%;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}

		.image {
			@include center(vertical, absolute);
			text-align: center;
			left: -20%;
			padding: $inner-gutter;
			background-color: $color-global-positive;
			width: 200px;
			height: 200px;
			transition: all .3s;

			img {
				@include center(both, absolute);
				width: 75%;
			}
		}

		.title {
			font-weight: 600;
		}

		.description {
			padding-top: $inner-gutter--quarter;
			font-size: .8em;
			position: absolute;
			bottom: $inner-gutter--half;
			text-align: center;
			width: 100%;
		}
	}
}
